[*.cs]
indent_style = space
tab_width = 4
indent_size = 4
file_header_template = \nThis Source Code Form is subject to the terms of the Mozilla Public\nLicense, v. 2.0. If a copy of the MPL was not distributed with this\nfile, You can obtain one at https://mozilla.org/MPL/2.0/.\n

[*.csproj]
indent_style = space
tab_width = 2
indent_size = 2

[*.targets]
indent_style = space
tab_width = 2
indent_size = 2

[*.props]
indent_style = space
tab_width = 2
indent_size = 2